*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
}

.listing:hover + div{
    display: block;
   
    
}
.listing{
   
    background-color: blueviolet;
    transition:  .3s ease;
}
div {
    font-size: large;
    padding: 20px;
    display: none;
  }